<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cricket World Cup</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Cricket World Cup</h1>
    </header>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/wii">Country</a>
            </li>

        </ul>
        <form method="Post" action="/search">
            <input type="text" name="search" id="search">
            <input type="submit" value="Search">
        </form>
    </nav>

    <main>
        <h2>Welcome</h2>
        <p>This website is about Cricket World Cup</p>
        <p>Learn all the news about Cricket world Cup</p>
    </main>
</body>
</html>